<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="default">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
         <property name="hibernate.connection.password">XXX</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@XXX:XXX:XXX</property>
        <property name="hibernate.connection.username">XXX</property>
        <property name="hibernate.default_schema">WEBCT</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
        <property name="hibernate.show_sql">true</property>
        <!--  removed itesm with $ in name for now - se hibernate.cfg.xml.full -->
        <mapping resource="webctdbexport/db/AssmtExtSubmissionMembers.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaAttr.hbm.xml" />
        <mapping resource="webctdbexport/db/NotesItem.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemScoreT.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolDefBak.hbm.xml" />
        <mapping resource="webctdbexport/db/EnrollmentChangeEvents.hbm.xml" />
        <mapping resource="webctdbexport/db/DisMessage.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtExtendedAttempt.hbm.xml" />
        <mapping resource="webctdbexport/db/BackgroundJobs.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkDay.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsFileContentV.hbm.xml" />
        <mapping resource="webctdbexport/db/MailTarget.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemGroupStat.hbm.xml" />
        <mapping resource="webctdbexport/db/PreferenceNode.hbm.xml" />
        <mapping resource="webctdbexport/db/RptProcess.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSubmission.hbm.xml" />
        <mapping resource="webctdbexport/db/RptMember.hbm.xml" />
        <mapping resource="webctdbexport/db/PstSettingBundle.hbm.xml" />
        <mapping resource="webctdbexport/db/CoActionmenulink.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAttemptItem.hbm.xml" />
        <mapping resource="webctdbexport/db/CoResource.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMeta.hbm.xml" />
        <mapping resource="webctdbexport/db/CmCoursemenu.hbm.xml" />
        <mapping resource="webctdbexport/db/LearningContextProxy.hbm.xml" />
        <mapping resource="webctdbexport/db/CoLcAssignment.hbm.xml" />
        <mapping resource="webctdbexport/db/Address.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtDetail.hbm.xml" />
        <mapping resource="webctdbexport/db/PstIconset.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtMemberStat.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolDef.hbm.xml" />
        <mapping resource="webctdbexport/db/MlCollection.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchPatchLog.hbm.xml" />
        <mapping resource="webctdbexport/db/VistaifWlstore.hbm.xml" />
        <mapping resource="webctdbexport/db/CoResourcelink.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtExtAttItemWithResp.hbm.xml" />
        <mapping resource="webctdbexport/db/MonitorScheduleLongterm.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAssessment.hbm.xml" />
        <mapping resource="webctdbexport/db/CoOrganizerlink.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricLinkResult.hbm.xml" />
        <mapping resource="webctdbexport/db/MailBox.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQuestionSet.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemGroupSumStat.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContext.hbm.xml" />
        <mapping resource="webctdbexport/db/Person.hbm.xml" />
        <mapping resource="webctdbexport/db/CwbGraphiccommand.hbm.xml" />
        <mapping resource="webctdbexport/db/SoftDeletedCmsEntryV.hbm.xml" />
        <mapping resource="webctdbexport/db/LcType.hbm.xml" />
        <mapping resource="webctdbexport/db/Phone.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchableObjectWa.hbm.xml" />
        <mapping resource="webctdbexport/db/CalendarEntry.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAttemptEvent.hbm.xml" />
        <mapping resource="webctdbexport/db/ScormItem.hbm.xml" />
        <mapping resource="webctdbexport/db/DatabaseRelease.hbm.xml" />
        <mapping resource="webctdbexport/db/LcChangeEvents.hbm.xml" />
        <mapping resource="webctdbexport/db/DirectoryGroup.hbm.xml" />
        <mapping resource="webctdbexport/db/XlistChangeEvents.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolInstance.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtResponse.hbm.xml" />
        <mapping resource="webctdbexport/db/LearningGroupEnrollSync.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonReadAnnouncement.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchableAttribute.hbm.xml" />
        <mapping resource="webctdbexport/db/AccessControlPermissionSet.hbm.xml" />
        <mapping resource="webctdbexport/db/RptGradebook.hbm.xml" />
        <mapping resource="webctdbexport/db/UnusedTables.hbm.xml" />
        <mapping resource="webctdbexport/db/LastOldId.hbm.xml" />
        <mapping resource="webctdbexport/db/RptExtractLog.hbm.xml" />
        <mapping resource="webctdbexport/db/SimpleFileGroup.hbm.xml" />
        <mapping resource="webctdbexport/db/CoSingleinstancetool.hbm.xml" />
        <mapping resource="webctdbexport/db/CmMenuitem.hbm.xml" />
        <mapping resource="webctdbexport/db/VistaifWlstoreBak.hbm.xml" />
        <mapping resource="webctdbexport/db/SectionColumn.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonUnreadAnnouncement.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkLearningContext.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsCeType.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchIndexRebuildLog.hbm.xml" />
        <mapping resource="webctdbexport/db/LcOperation.hbm.xml" />
        <mapping resource="webctdbexport/db/DisTopic.hbm.xml" />
        <mapping resource="webctdbexport/db/DeliveryContextIconset.hbm.xml" />
        <mapping resource="webctdbexport/db/AnnouncementPersonRead.hbm.xml" />
        <mapping resource="webctdbexport/db/ActiveChatServer.hbm.xml" />
        <mapping resource="webctdbexport/db/ViewColumn.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonColValueV.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonContentQuota.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricRow.hbm.xml" />
        <mapping resource="webctdbexport/db/DisRatingDefinition.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtClassStat.hbm.xml" />
        <mapping resource="webctdbexport/db/BackgroundJobArguments.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricColumn.hbm.xml" />
        <mapping resource="webctdbexport/db/SimpleFileUniqueName.hbm.xml" />
        <mapping resource="webctdbexport/db/SettingsDescription.hbm.xml" />
        <mapping resource="webctdbexport/db/CmToolUsed.hbm.xml" />
        <mapping resource="webctdbexport/db/Settings.hbm.xml" />
        <mapping resource="webctdbexport/db/GcProcess.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaVisV.hbm.xml" />
        <mapping resource="webctdbexport/db/LearningContext.hbm.xml" />
        <mapping resource="webctdbexport/db/LocalContentDesktopConfig.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAssessmentSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtScoreT.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContextSize.hbm.xml" />
        <mapping resource="webctdbexport/db/MyChannelPreference.hbm.xml" />
        <mapping resource="webctdbexport/db/MyBookmark.hbm.xml" />
        <mapping resource="webctdbexport/db/DisTopicPersonSummary.hbm.xml" />
        <mapping resource="webctdbexport/db/ScrHistory.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsCeSubtype.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonChangeEvents.hbm.xml" />
        <mapping resource="webctdbexport/db/SettingsV.hbm.xml" />
        <mapping resource="webctdbexport/db/GcTask.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsUniqueName071219102847.hbm.xml" />
        <mapping resource="webctdbexport/db/AnnouncementRole.hbm.xml" />
        <mapping resource="webctdbexport/db/CoTemplateSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchableObject.hbm.xml" />
        <mapping resource="webctdbexport/db/SrCriteria.hbm.xml" />
        <mapping resource="webctdbexport/db/RptExtGradebook.hbm.xml" />
        <mapping resource="webctdbexport/db/AddressType.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemDetailT.hbm.xml" />
        <mapping resource="webctdbexport/db/MailReceipt.hbm.xml" />
        <mapping resource="webctdbexport/db/MailMessage.hbm.xml" />
        <mapping resource="webctdbexport/db/MediaentryIdsT.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnSubmissionPublishHistory.hbm.xml" />
        <mapping resource="webctdbexport/db/EnrollmentSync.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSectionElement.hbm.xml" />
        <mapping resource="webctdbexport/db/CoNewStatus.hbm.xml" />
        <mapping resource="webctdbexport/db/ThurTest.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnAssignee.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsMimetype.hbm.xml" />
        <mapping resource="webctdbexport/db/TocBookmark.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSubmissionSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemMissingStat.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaLcPerson.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkPerson.hbm.xml" />
        <mapping resource="webctdbexport/db/CoHeaderfooter.hbm.xml" />
        <mapping resource="webctdbexport/db/Thumbnail.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtGroupCriterion.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnSubmissionComment.hbm.xml" />
        <mapping resource="webctdbexport/db/LcTermMapping.hbm.xml" />
        <mapping resource="webctdbexport/db/MailJmsstore.hbm.xml" />
        <mapping resource="webctdbexport/db/CmPalette.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnSubmission.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaAuxV.hbm.xml" />
        <mapping resource="webctdbexport/db/CmSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSync.hbm.xml" />
        <mapping resource="webctdbexport/db/RptGradebookT.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolInstanceSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonAllAnnouncement.hbm.xml" />
        <mapping resource="webctdbexport/db/ScormPackage.hbm.xml" />
        <mapping resource="webctdbexport/db/GcDeleteList.hbm.xml" />
        <mapping resource="webctdbexport/db/SectionView.hbm.xml" />
        <mapping resource="webctdbexport/db/MyCampusBookmarkData.hbm.xml" />
        <mapping resource="webctdbexport/db/ScormDataModelElement.hbm.xml" />
        <mapping resource="webctdbexport/db/CoLcAssociation.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaAttrValue.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkRawAction.hbm.xml" />
        <mapping resource="webctdbexport/db/GradeBookAuditLog.hbm.xml" />
        <mapping resource="webctdbexport/db/Announcement.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtStat.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonQuerySelect.hbm.xml" />
        <mapping resource="webctdbexport/db/LcQuery.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkTime.hbm.xml" />
        <mapping resource="webctdbexport/db/CoTemplateRootOrganizer.hbm.xml" />
        <mapping resource="webctdbexport/db/Syllsubitem.hbm.xml" />
        <mapping resource="webctdbexport/db/ColModule.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaGroup.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsCeLanguage.hbm.xml" />
        <mapping resource="webctdbexport/db/UserObjectAclV.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtExtendedAttemptItem.hbm.xml" />
        <mapping resource="webctdbexport/db/Photo.hbm.xml" />
        <mapping resource="webctdbexport/db/DirectoryGroupUser.hbm.xml" />
        <mapping resource="webctdbexport/db/GradeBookAuditLogValue.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQuestionLink.hbm.xml" />
        <mapping resource="webctdbexport/db/MlEntry.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaLcVis.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmLcAclRel.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAttemptExtendedEvent.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQdbColumn.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemClassSumStat.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsEntryImplInf.hbm.xml" />
        <mapping resource="webctdbexport/db/AccessControlList.hbm.xml" />
        <mapping resource="webctdbexport/db/LcUpgradeSync.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQdbColumnValue.hbm.xml" />
        <mapping resource="webctdbexport/db/BackgroundJobSync.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsUniqueName.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtGroupStat.hbm.xml" />
        <mapping resource="webctdbexport/db/CoTocLink.hbm.xml" />
        <mapping resource="webctdbexport/db/BackgroundJobTypes.hbm.xml" />
        <mapping resource="webctdbexport/db/CoReadStatus.hbm.xml" />
        <mapping resource="webctdbexport/db/CalendarEntryDetail.hbm.xml" />
        <mapping resource="webctdbexport/db/LocalContentTool.hbm.xml" />
        <mapping resource="webctdbexport/db/RptPerson.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnSubmissionViewState.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsLinkType.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsLink.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnAssignment.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsFileContent.hbm.xml" />
        <mapping resource="webctdbexport/db/DisPersonMessage.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsContentEntryT.hbm.xml" />
        <mapping resource="webctdbexport/db/RptPhone.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricLinkCellResult.hbm.xml" />
        <mapping resource="webctdbexport/db/IopStateData.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricCell.hbm.xml" />
        <mapping resource="webctdbexport/db/RoleDefinition.hbm.xml" />
        <mapping resource="webctdbexport/db/CwbChatroomlog.hbm.xml" />
        <mapping resource="webctdbexport/db/RptAddress.hbm.xml" />
        <mapping resource="webctdbexport/db/SrUsage.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkUserAction.hbm.xml" />
        <mapping resource="webctdbexport/db/SettingsDescRanges.hbm.xml" />
        <mapping resource="webctdbexport/db/PreferenceAttribute.hbm.xml" />
        <mapping resource="webctdbexport/db/MlChangeQueue.hbm.xml" />
        <mapping resource="webctdbexport/db/PublisherLicense.hbm.xml" />
        <mapping resource="webctdbexport/db/RptTemplateV.hbm.xml" />
        <mapping resource="webctdbexport/db/RptTemplateT.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkAction.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemDetail.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContextSizeT.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonEnrollment.hbm.xml" />
        <mapping resource="webctdbexport/db/MyPortalPreference.hbm.xml" />
        <mapping resource="webctdbexport/db/UserAclV.hbm.xml" />
        <mapping resource="webctdbexport/db/SyllitemDetail.hbm.xml" />
        <mapping resource="webctdbexport/db/SmsRoleBasedRestrictions.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmLcFolderDef.hbm.xml" />
        <mapping resource="webctdbexport/db/LmsIntegration.hbm.xml" />
        <mapping resource="webctdbexport/db/SelfEnrollmentLc.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkPage.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContextSizeV.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtAttempt.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonQueryCriteria.hbm.xml" />
        <mapping resource="webctdbexport/db/CwbChatroom.hbm.xml" />
        <mapping resource="webctdbexport/db/DirectoryObject.hbm.xml" />
        <mapping resource="webctdbexport/db/Syllabus.hbm.xml" />
        <mapping resource="webctdbexport/db/DeletedSimpleFileGroupsV.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemStat.hbm.xml" />
        <mapping resource="webctdbexport/db/LcSectionExtV.hbm.xml" />
        <mapping resource="webctdbexport/db/ColValue.hbm.xml" />
        <mapping resource="webctdbexport/db/SettingsLcTypeException.hbm.xml" />
        <mapping resource="webctdbexport/db/XlistLcMapping.hbm.xml" />
        <mapping resource="webctdbexport/db/FmsAttributes.hbm.xml" />
        <mapping resource="webctdbexport/db/DisRating.hbm.xml" />
        <mapping resource="webctdbexport/db/RptTracking.hbm.xml" />
        <mapping resource="webctdbexport/db/RptTemplate.hbm.xml" />
        <mapping resource="webctdbexport/db/CmTool.hbm.xml" />
        <mapping resource="webctdbexport/db/DisCategory.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmRule.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtExtendedSubmission.hbm.xml" />
        <mapping resource="webctdbexport/db/PstReplacementIcon.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQdb.hbm.xml" />
        <mapping resource="webctdbexport/db/WioUsers.hbm.xml" />
        <mapping resource="webctdbexport/db/ScormScoMemberData.hbm.xml" />
        <mapping resource="webctdbexport/db/PersonQuery.hbm.xml" />
        <mapping resource="webctdbexport/db/SectionBook.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSession.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtQuestion.hbm.xml" />
        <mapping resource="webctdbexport/db/CoContentpage.hbm.xml" />
        <mapping resource="webctdbexport/db/CoInventoryOrder.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSummaryGrade.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtScore.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSecuritySetting.hbm.xml" />
        <mapping resource="webctdbexport/db/LcCategory.hbm.xml" />
        <mapping resource="webctdbexport/db/SimpleFile.hbm.xml" />
        <mapping resource="webctdbexport/db/PhoneType.hbm.xml" />
        <mapping resource="webctdbexport/db/LogRepository.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaAttrValueV.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolInstanceBak.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmLcGroupDef.hbm.xml" />
        <mapping resource="webctdbexport/db/CacheConfig.hbm.xml" />
        <mapping resource="webctdbexport/db/Rubric.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkLcIdT.hbm.xml" />
        <mapping resource="webctdbexport/db/GenericGroup.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsInfExtendInf.hbm.xml" />
        <mapping resource="webctdbexport/db/Syllitem.hbm.xml" />
        <mapping resource="webctdbexport/db/CoActionmenu.hbm.xml" />
        <mapping resource="webctdbexport/db/VistaifJmsstore.hbm.xml" />
        <mapping resource="webctdbexport/db/AccessControlEntry.hbm.xml" />
        <mapping resource="webctdbexport/db/LearningContextIndex.hbm.xml" />
        <mapping resource="webctdbexport/db/AppServerNode.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaLcModule.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkTool.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmLcEditorRel.hbm.xml" />
        <mapping resource="webctdbexport/db/EnrollmentCount.hbm.xml" />
        <mapping resource="webctdbexport/db/EnrollmentLicense.hbm.xml" />
        <mapping resource="webctdbexport/db/ColMetaSelection.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtDetailT.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtClassSumStat.hbm.xml" />
        <mapping resource="webctdbexport/db/GcDiscoverList.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricLink.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemClassStat.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsInterfaceType.hbm.xml" />
        <mapping resource="webctdbexport/db/RoleXlistSource.hbm.xml" />
        <mapping resource="webctdbexport/db/SettingsGroup.hbm.xml" />
        <mapping resource="webctdbexport/db/LcQuerySelect.hbm.xml" />
        <mapping resource="webctdbexport/db/MailJmsstate.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtSummaryGradeSubmission.hbm.xml" />
        <mapping resource="webctdbexport/db/MyNotepad.hbm.xml" />
        <mapping resource="webctdbexport/db/DisTemplateSummary.hbm.xml" />
        <mapping resource="webctdbexport/db/RptTemplateTemporaryPath.hbm.xml" />
        <mapping resource="webctdbexport/db/CwbActivechatuser.hbm.xml" />
        <mapping resource="webctdbexport/db/CoTemplate.hbm.xml" />
        <mapping resource="webctdbexport/db/SrCriteriaDetail.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtResultSetting.hbm.xml" />
        <mapping resource="webctdbexport/db/MailFolder.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSummaryReportT.hbm.xml" />
        <mapping resource="webctdbexport/db/PortfolioContentQuota.hbm.xml" />
        <mapping resource="webctdbexport/db/ProxyToolInstanceSettingBa.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmFolderPermDef.hbm.xml" />
        <mapping resource="webctdbexport/db/MlDefaultCollection.hbm.xml" />
        <mapping resource="webctdbexport/db/SyllitemLearningobjLink.hbm.xml" />
        <mapping resource="webctdbexport/db/LogException.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnGroupassignment.hbm.xml" />
        <mapping resource="webctdbexport/db/Member.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSessionContextActivity.hbm.xml" />
        <mapping resource="webctdbexport/db/CoUrl.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSessionContextT.hbm.xml" />
        <mapping resource="webctdbexport/db/CoOrganizerpage.hbm.xml" />
        <mapping resource="webctdbexport/db/SearchableObjectWaBak.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsContentEntry.hbm.xml" />
        <mapping resource="webctdbexport/db/MemberAttrValue.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemMemberStat.hbm.xml" />
        <mapping resource="webctdbexport/db/LcQueryCriteria.hbm.xml" />
        <mapping resource="webctdbexport/db/LcTrackLastAccessSync.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmApplicableRoleId.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContextT.hbm.xml" />
        <mapping resource="webctdbexport/db/PinAuth.hbm.xml" />
        <mapping resource="webctdbexport/db/RptLearningContextV.hbm.xml" />
        <mapping resource="webctdbexport/db/WioUserInformation.hbm.xml" />
        <mapping resource="webctdbexport/db/CoToc.hbm.xml" />
        <mapping resource="webctdbexport/db/Role.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnToolViewState.hbm.xml" />
        <mapping resource="webctdbexport/db/AgnSubmissionUnique.hbm.xml" />
        <mapping resource="webctdbexport/db/SrHead.hbm.xml" />
        <mapping resource="webctdbexport/db/DatabaseFix.hbm.xml" />
        <mapping resource="webctdbexport/db/TrkSessionToolActivity.hbm.xml" />
      <!--  references $... files 
        <mapping resource="webctdbexport/db/ArchiveUnit.hbm.xml" />  
        refs
        <mapping resource="webctdbexport/db/ArchiveSession.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchiveUnitStatus.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchiveIdList.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchiveResourceColumn.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchiveRepository.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchivePolicy.hbm.xml" />
        <mapping resource="webctdbexport/db/ArchiveForeignIdList.hbm.xml" />
      -->  
        <mapping resource="webctdbexport/db/LcLastAccess.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsCeCharset.hbm.xml" />
        <mapping resource="webctdbexport/db/AssmtItemScore.hbm.xml" />
        <mapping resource="webctdbexport/db/LcCategorization.hbm.xml" />
        <mapping resource="webctdbexport/db/PstDefaulticon.hbm.xml" />
        <mapping resource="webctdbexport/db/CpmLcGroupRel.hbm.xml" />
        <mapping resource="webctdbexport/db/LocalContentEntry.hbm.xml" />
        <mapping resource="webctdbexport/db/ImsSourcedid.hbm.xml" />
        <mapping resource="webctdbexport/db/RubricUsage.hbm.xml" />
        <mapping resource="webctdbexport/db/LcTerm.hbm.xml" />
        <mapping resource="webctdbexport/db/VistaifJmsstate.hbm.xml" />
        <mapping resource="webctdbexport/db/SimpleFileUploader.hbm.xml" />
        <mapping resource="webctdbexport/db/CmsLinkOrder.hbm.xml" />
        <mapping resource="webctdbexport/db/ContextSearchableObjectV.hbm.xml" />
    </session-factory>
</hibernate-configuration>
